:root{
    --top-banner-color:#FFCB00;
    --main-color:#ffcb00;
    --sub-border:#ccc;
    --main-font-color:#001022;
    --footer-color:#495460;
    --small-font-size: 13px;
    --font-style:Noto Sans KR,sans-serif,Arial,Sans-serif;
}


header {
    
    border-bottom: 1px solid #ccc;
    >div {
        display: flex;
        height: 80px;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            justify-content: space-between;
            li {
                padding: 0 20px;
            }
        }
    }
   
}
#visual {
    img {
        width: 100%;
    }
}
#product {
    h1 {
        padding: 30px 0;
    }
    #product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .product-card {
            width: 23.5%;
            border-radius: 16px;
            overflow: hidden;
            border: 1px solid #ddd;
            .product-img {
                width: 100%;
            }
            .product-contents {
                padding: 20px;
                display: flex;
                flex-direction: column;
                span:nth-child(1){
                    font-size: 18px;
                    font-weight: bold;
                }
                div {
                    display: flex;
                    align-items: center;
                    img {
                        width: 60px;
                    }
                }
            }
        }
    }
padding-bottom: 30px;
}

// footer부분
footer{
    border-top: 2px solid #333;
    width: 75%;
    margin: 0 auto;
    #ft_top{
        display: flex;
        justify-content: space-between;

        text-align: center;
        padding: 30px 0;
        border-bottom: 1.5px solid #ccc;
        font-weight: bold;
    }
    #ft_left p:nth-child(2){
        color: var(--footer-color);
    }
    #ft_left p:nth-child(3) {
        color:var(--main-font-color);
        font-weight: bold;
    }
    #ft_mid_01{
        display: flex;
        justify-content: space-between;
        padding : 30px 5%;
        border-bottom: 1.5px solid #ccc;
    }
    #ft_mid_01 > div > p{
        font-weight: bold;
        font-size: var(--small-font-size);
        color: var(--footer-color);
    }
    #ft_mid_01 > div > ul > li {
        font-weight: bold;
        font-size: var(--small-font-size);
    }
    #ft_mid_02 {
        text-align: center;
    }
    #ft_mid_02 > ul{
        display: flex;
        padding: 30px 0;
        border-bottom: 1.5px solid #ccc;
        font-size: var(--small-font-size);
        font-weight: bold;
        color: var(--footer-color);
    }
    #ft_mid_02 > ul > li:not(:last-child){
        padding-right: 10px;
    }

    #ft_bottom{
        text-align: center;
    }
    #ft_bttm_02{
        display: flex;
    }
    #ft_bttm_02 > button{
        height: 30px;
        color: #fff;
        border: 1px solid #4267b2;
        background-color: #4267b2;
    }
    #ft_bttm_02 > p{
        text-align: left;
    }
    
}
